extends base

block content
  each post in posts
    section.post-list-item
      a(href=post.uri)
        h3= post.title
      .post-info.clearfix
        .post-date(style="float: left;")= post.date
        if post.tags
          each tag in post.tags
            .label.post-tag(style="float: right; margin-left: 5px;")
              i.icon-tag
              = tag
      p= post.preview
      a.btn(href=post.uri) Читать



